$primary-colors: #000;

$invertedbg-color: #008bc4;
$mainbg-color: #000e14;
$primary-text-color: #fff;
$navlink-color: #fff;
$secondary-text-color: #008bc4;
$card-color: #001c27;
$card-color-inverted: #fff;
$card-btn-color: #000e14;
$scroll-bar-color: #008bc4;
$secondary-color-inverted: #fff;

$dark-background: url('./bg.svg');
// $dark-chat-background: #02302c;
$dark-chat-background: #1c1c1c;
$dark-chat-background2: #2c2c2c;
$dark-text-color: #b3b7ba;
$overlay-background: #000e14d1;
$bg-color: #000e14;